<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owner Dashboard</title>
    <link rel="stylesheet" href="/static/css/customStyles.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs", {name: user.OwnerName , type: "owner"}) %>

    <div class="container my-buildings__container">
      <div class="my-buildings">
        <div class="my-buildings__header">
          <h2>My Buildings</h2>
          <a class="button" href="/owner/addBuilding">Add Building</a>
        </div>
        <ol class="building-list">
          <% buildings.forEach(function(building){ %>
          <li id="building<%= building.Id %>">
            <div>
                <a class="building-list__link" href="/owner/buildings/<%= building.Id %>">
                  <%= building.BuildingName %>: <%= building.Address %>
                </a>
              </div>
            <button onclick = "editBuilding('<%= JSON.stringify(building) %>')" class="button button-secondary">Edit Building</button>
          </li>
          <div id="editBuilding<%= building.Id %>">
          
          </div>
          <% }); %>
          </ol>
      </div>
    </div>
    
    <script>
      function getMonthText(idx){
        arr = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]
        return arr[idx];
      }
      window.onload = function(){
        for(i =0 ;i < document.getElementsByClassName("date-container").length;i++){
          let element = document.getElementsByClassName("date-container")[i];
          element.innerHTML = `
          <div>
        <span class="date-wrapper">${element.getAttribute("data-date")}</span>
        <br>
        <span class="month-wrapper">${getMonthText(element.getAttribute("data-month"))}</span>
      </div>`;
        }
      };

      function editBuilding(building){
        let b = JSON.parse(building);
        let element = document.getElementById(`editBuilding${b.Id}`);
        let parent = document.getElementById(`building${b.Id}`);
        element.innerHTML = `
        <div>
          <form method="POST" id="editBuildingForm" action="/owner/updatebuilding/${b.Id}" class="editAps editWidth">
              <strong>EDITING Building ${b.Id}</strong><br>
              <input type="hidden" name="buildingId" value="${b.name}">
              <div class="editAps__details">
                  <label class="required">Building name: </label>
                  <input required type="text" id="name" name="name" value="${b.BuildingName}">
              </div>
              <div class="editAps__details">
                  <label class="required">Address: </label>
                  <input required type="text" id="address" name="address" value="${b.Address}">
              </div>
              <div class="editAps__details">
                  <label class="required">Floors: </label>
                  <input required type="number"  id="floors" name="floors" value="${b.Floors}">
              </div>
              <br>
              <input class="button button-secondary" type="submit" value="Update">
              <button type="button" class="button button-danger cancel-button-${b.Id}" data-id="${b.Id}">Cancel</button>
              </form>
        </div>
        `
        parent.scrollIntoView({behavior: 'smooth'});

        let cancelButton = document.querySelector(`.cancel-button-${b.Id}`);
        cancelButton.addEventListener("click", function(){
          let element = document.getElementById(`editBuilding${b.Id}`);
          element.innerHTML = '';
          return false;
        });
      }

      function clear(id) {
        console.log("here");
        let el = document.getElementById(JSON.parse(id));
        el.innerHTML = "";
        return false;
      }

    </script>
    <div class="container">
      <h1 class="recent-payments__header">Recent Payments</h1>
      <table class="recent-payment-container">
        <tr style="background:  #ddd;">
          <th>
            SNo.
          </th>
          <th>
            Date
          </th>
          <th>
            Details
          </th>
          <th>
            Flat Number
          </th>
          <th>
            Rent
          </th>
        </tr>
      <% for(let [index,data] of recentPayments.entries() || []){ %> 
      <tr>
        <td><%= index + 1 %></td>
        <td class="date-container" data-date="<%= data.PaymentDate.getDate() %>" data-month="<%= data.PaymentDate.getMonth() %>"></td>
        <td>
          <div>
            <span class="tenant-name-wrapper">
              <%= data.TenantName %>
            </span>
            <br>
            <span>
              <%= data.BuildingName %>
            </span>          
          </div>
        </td>
        <td><%= data.FlatNumber %></td>
        <td>₹ <%= data.Rent %></td>
      </tr>
      <%} %>
      </table>
    </div> 
  </body>
</html>