<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartments</title>
    <link rel="icon" href="/static/images/apartment.png"">
    <link rel="stylesheet" href="/static/css/customStyles.css" />
</head>
<body>
    <%- include("./partials/navbar.ejs", {name: user.OwnerName, type: "owner"}) %> 
    <div class="container">
        <div class="rented-apartments__header">
            <h1><%= building[0].BuildingName %> , <%= building[0].Address %></h1>
            <button class="button" onclick="newApt()">Add New Apartment</button>
        </div>
        <div id="new-apt">

        </div>

        <div id="rented-apartments">
            <ol class="building-list">
                <% apartments.forEach((apartment) => { %>
                    <li id="apartment-<%= apartment.ApartmentId %>">
                        <div class = "apartment-edit-list">
                            <h3>Apartment: <%= apartment.FlatNumber %></h3>
                            <p>Tenant: <%= apartment.TenantName %></p>
                            <% if(apartment.LastPaymentDate){ %>
                                <p>Last Payment: <%= new Date(apartment.LastPaymentDate).toLocaleDateString() %></p>
                            <% } %>
                            <button class="button" id="<%= apartment.ApartmentId %>" onclick="edit('<%= JSON.stringify(apartment) %>')">EDIT</button>
                        </div>
                    </li>
                    <div id="edit-form-<%= apartment.ApartmentId %>">

                    </div>
                <% }) %>
            </ol>
        </div>
        <br />
    </div>

    <script>
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
        function edit(apId) {
            let apartment = JSON.parse(apId);
            let form = document.getElementById(`edit-form-${apartment.ApartmentId}`);
            let parent = document.getElementById(`apartment-${apartment.ApartmentId}`);
            form.innerHTML = `
            <div>
                <form method="POST" class="editAps editWidth">
                    <strong>EDITING Apartment ${apartment.FlatNumber}</strong><br>
                    <input type="hidden" name="apartmentId" value="${apartment.ApartmentId}">
                    <div class="editAps__details">
                        <label>Flat Number: </label>
                        <input required type="text" id="flatNumber" name="flatNumber" value="${apartment.FlatNumber}">
                    </div>
                    <div class="editAps__details">
                        <label>Tenant: </label>
                        <select required name="tenantId" id="tenantId">
                            <% tenants.forEach(function(tenant){ %>
                                <option value="<%= tenant.Id %>" ${"<%= tenant.Id %>"==apartment.TenantId && "selected"}><%= tenant.TenantName %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="editAps__details">
                        <label>Rent: </label>
                        <input required type="number" step="any" id="rent" name="rent" value="${apartment.Rent}">
                    </div>
                    <div class="editAps__details">
                        <label>Start Date: </label>
                        <input required type="date" id="startDate" name="startDate" value="${formatDate(apartment.StartDate)}">
                    </div>
                    <br>
                    <input class="button button-secondary" type="submit" value="Update">
                    <button type="button" class="button button-danger cancel-button-${apartment.ApartmentId}" data-id="${apartment.ApartmentId}">Cancel</button>
                </form>
            </div>
            `
            parent.scrollIntoView({behavior: 'smooth'});

            let cancelButton = document.querySelector(`.cancel-button-${apartment.ApartmentId}`);
            cancelButton.addEventListener("click", function(){
                let element = document.getElementById(`edit-form-${apartment.ApartmentId}`);
                element.innerHTML = '';
                return false;
            });
        }

        function newApt() {
            let form = document.getElementById('new-apt');
            form.innerHTML = `
            <div>
                <form method="POST" class="editAps editWidth">
                    <strong>NEW APARTMENT</strong><br>
                    <div class="editAps__details">
                        <label>Flat Number: </label>
                        <input required type="text" id="flatNumber" name="flatNumber">
                    </div>
                    <div class="editAps__details">
                        <label>Tenant: </label>
                        <select required name="tenantId" id="tenantId">
                            <% tenants.forEach(function(tenant){ %>
                                <option value="<%= tenant.Id %>"}><%= tenant.TenantName %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="editAps__details">
                        <label>Rent: </label>
                        <input required type="number" id="rent" name="rent">
                    </div>
                    <div class="editAps__details">
                        <label>Start Date: </label>
                        <input required type="date" id="startDate" name="startDate">
                    </div>
                    <br>
                    <input class="button button-secondary" type="submit" value="Add">
                    <button type="button" class="button button-danger cancel-button">Cancel</button>
                </form>
            </div>
            `
            form.scrollIntoView({behavior: 'smooth'});

            let cancelButton = document.querySelector(`.cancel-button`);
            cancelButton.addEventListener("click", function(){
                let element = document.getElementById(`new-apt`);
                element.innerHTML = '';
                return false;
            });
        }
    </script>
</body>
</html>